@import "tailwindcss";

@layer utilities {
  .cursor-pen {
    cursor: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M20.71 7.04a1 1 0 0 0 0-1.41l-2.34-2.34a1 1 0 0 0-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83zM3 17.25V21h3.75l11-11.03-3.75-3.75L3 17.25z"/></svg>') 4 16, auto;
  }
}

body {
  @apply bg-gray-50 text-gray-800;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
    margin-top: 10rem; /* Creates gap at top */
    margin-bottom: 10rem; /* Creates gap at bottom */
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background:#1478fc;
    border-radius: 10px;
}

.top-nav {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0 8px;
}


.scrollbar-hide {
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}